<header>
    <img src="assets/imgs/WhatsApp Image 2023-02-26 at 20.46.14 (1).jpeg" class="img-fluid" alt="..." />
</header>

<div class="info">
    <div class="container">
        <h1> معلومـات الخدمـة</h1>
        <div class="content">
            <p>سيتم إستخدام البيانات المرفقة لاحقاً من أجل إتمام إجراءات <span>أبـشـر</span> وللتاكد من هوية مقدم الطلب</p>
        </div>
        <div class="info-form">
            <form class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                  <label for="validationCustom01" class="form-label" ></label>
                  <input type="text" class="form-control" id="validationCustom01" placeholder="الإسم بالكامل" value="" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom02" class="form-label"></label>
                    <input type="number" class="form-control" id="validationCustom02" placeholder="رقم الهويةالوطنية /الإقامة" value="" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationCustomNumber" class="form-label"></label>
                    <input type="number" class="form-control" id="validationCustomNumber" placeholder="رقم الهاتف" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom03" class="form-label"></label>
                    <input type="text" class="form-control" placeholder="البنك" id="validationCustom03" required>
                    <div class="invalid-feedback">
                      Please provide a valid bank.
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationEmail" class="form-label"></label>
                    <input type="text" class="form-control" placeholder="البريد الإلكتروني" id="validationEmail" required>
                    <div class="invalid-feedback">
                      Please provide a valid Email.
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom04" class="form-label"></label>
                    <input type="text" class="form-control" placeholder="العنوان" id="validationCustom04" required>
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationDate" class="form-label"></label>
                    <input type="date" class="form-control" placeholder="تاريخ بدء الخدمة" id="validationDate" required >
                    <div class="valid-feedback">
                      Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom05" class="form-label"></label>
                    <select class="form-control" id="validationCustom05" required>
                      <option selected disabled value="1">طريقة أستلام الخدمة</option>
                        <option value="2">توصيل للمنزل</option>
                        <option value="3"> زيارة أقرب فرع لـ سماسكو</option>
                    </select>
                    <div class="invalid-feedback">
                      Please select a valid state.
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom06" class="form-label"></label>
                    <select class="form-control" id="validationCustom06" required>
                      <option selected disabled value="0">باقة الخدمة(الجنسية)</option>
                      <option value="1">سيريلانكا</option>
                      <option value="2">الفلبين</option>
                      <option value="3">أندونيسيا</option>
                      <option value="4">بنغلادش</option>
                      <option value="5">أوغندا</option>
                      <option value="6">أثيوبيا</option>
                      <option value="7">إرتيربا</option>
                      <option value="8">الكاميرون</option>
                      <option value="9">المغرب</option>
                      <option value="10">الهند</option>
                      <option value="11">باكستان</option>
                      <option value="12">تشاد</option>
                      <option value="13">تونس</option>
                      <option value="14">غانا</option>
                    </select>
                    <div class="invalid-feedback">
                      Please select a valid state.
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validationCustom07" class="form-label"></label>
                    <select class="form-control" id="validationCustom07" required>
                      <option selected disabled value="">مدة الخدمة</option>
                      <option>ساعتان</option>
                      <option>4 ساعات</option>
                      <option>8 ساعات</option>
                      <option>يومي</option>
                      <option>أسبوعي</option>
                      <option>شهر واحد</option>
                      <option>ثلاثة أشهر</option>
                      <option>ستة أشهر</option>
                      <option>سنة واحدة</option>
                      <option>سنتان</option>
                    </select>
                    <div class="invalid-feedback">
                      Please select a valid state.
                    </div>
                </div>
                <div class="col-md-6" id="checking">
                    <div class="form-check">
                      <label class="form-check-label" for="invalidCheck">
                        أوافق علي جميع الشروط والأحكام التابعه لـ سماسكو
                      </label>
                      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                      <div class="invalid-feedback">
                        يجب عليك الموافقة قبل التقديم
                      </div>
                    </div>
                </div>  
                <div class="col-12" id="mybtn-id">
                    <button class="btn btn-primary" type="submit">تقديم الطلب</button>
                </div> 
            </form>
        </div>    
        <div class="footer-img">
            <div class="row ">
                <div class="col-md-12">
                    <img src="assets/imgs/WhatsApp Image 2023-02-15 at 16.39.02 (3).jpeg">
                </div>
            </div>
        </div>  


    </div>
</div>