<header>
    <img src="assets/imgs/WhatsApp Image 2023-02-26 at 20.46.14 (1).jpeg" class="img-fluid" alt="..." />
</header>

<div class="request">
    <div class="content-bg">
        <div class="container">
            <h1>تقديـم طلــب</h1>
            <div class="content">
                <div class="processes">
                    <h3>العمليات</h3>
                    <p>يمكنك الإختيار من بين العديد من مزودي المزارد البشرية اللذين نتعامل معهم في جميع انحاء البلاد</p>
                </div>
                <div class="contract">
                    <h3>إجراءات العقد</h3>
                    <p>يتم تحرير العقد من خلال خدمة أبشر بعد أن ينتهي العميل من تقديم معللوماته الفعليه من خلال خدمة العملاء لدي <span>سماسكو</span></p>
                </div>
                <div class="notice">
                    <p> <span>تنويه</span> للعميل الحق في الغاء أو تعديل العقد الخاص به في فترة امنه لا تتجاوز الثلاثة أشهر من تاريخ توقيع <span>العقد</span></p>
                </div>
            </div>    
            <div class="request-group">
                <div class="row py-5"> 
                    <div class="col-md-4 mx-auto">
                        <button class="btn " routerLink="../form" type="button">خدمات الإقامة</button>
                        <button class="btn " routerLink="../form" type="button">إستقدام عمالة</button>
                    </div>
                    <div class="col-md-4 mx-auto">
                        <button class="btn" routerLink="../form" type="button">طلب عاملة منزلية</button>
                        <button class="btn" routerLink="../form" type="button">مساعد شخصي</button>
                    </div>
                    <div class="col-md-4 mx-auto">
                        <button class="btn " routerLink="../form" type="button">سائق خاص</button>
                        <button class="btn" routerLink="../form" type="button" >إجرائات نقل كفالة</button>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    <div class="footer-img">
        <div class="container">
            <div class="row ">
                <div class="col-md-5">
                    <img src="assets/imgs/WhatsApp Image 2023-02-15 at 16.39.02 (2).jpeg" routerLink="../form" >
                </div>
                <div class="col-md-7">
                    <img src="assets/imgs/WhatsApp Image 2023-02-15 at 16.39.02 (3).jpeg" routerLink="../form" >
                </div>
            </div>
        </div>    
    </div>  
</div>