<div class="agencies">
    <div class="container">
        <div class="row" style="margin: 70px 0;">
            <div class="col-md-6" style="padding: 35px 15px 50px;">
                <h1 class="title">وكالات</h1>
                <p class="details my-4"> تتعاون <span>سماسكو</span> مع أكثر من 375 وكالة من أفضل وكالات التوظيف في العالم في أكثر من 35  دولة حيث نختار بعناية فائقة ممثلينا في مختلف دول العالم ونتبع إجراءات محددة وواضحة للتعامل مع الوكالات تسمح ببناء علاقات ناجحة وفعالة وإستقدام كفاءات بشرية مميزة لعملائها داخل السعودية ممع جعل من <span>سماسكو</span> مثار إعجاب العديد من الدول التي ترحب بالتعاون معنا.</p>
                <div class="my-btn">  
                  <button class="btn btn-md btn-primary" routerLink="../request" type="button">تقديم طلب</button> 
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="assets/imgs/5345079.jpg">
            </div>
        </div>
    </div>
</div>