<div class="sections">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <img class="img-fluid" src="assets/imgs/81_YnVzaW5lc3NfbS0wNA-removebg.png">
            </div>
            <div class="col-md-5" style="padding: 50px 15px;">
                <h1 class="title">قطاع الأعمال</h1>
                <p class="details my-4">   تمتلك <span>سماسكو</span> ريادة قطاع حلول القوى البشرية بخدمتها لأكثر من ثلاثة آلاف شركة من مختلف التصنيفات من حيث الحجم أو تنوع النشاط فمهما كان احتياجك للأيدي العاملة تأكد بأننا قادرون على توفيرها لك بالسرعة المطلوبة والكفاءة العالية حيث نتعاون باقتدار مع أكثر من 375 وكالة توظيف حول العالم تعمل هذه الأذرع في تناغم مبدع للبحث عن القوى البشرية المؤهلة والتي تناسب احتياجاتك وتغنيك عن مشاكل العمالة المعتادة كهروب العامل أو عدم توفر تأشيرات استقدام  أو رفض العمل وغيرها</p>
             <div class="my-btn">   <button class="btn btn-md btn-primary" routerLink="../request" type="button">تقديم طلب</button> </div>
            </div>
        </div>
    </div>
</div>